@page "{id}"
@model OOOFormula.Pages.Administration.ListRequests.DetailsModel

@{
    ViewData["Title"] = "Просмотр заявки";
}

<div class="col-12 mb-2">
    <h1>Просмотр заявки</h1>
    <hr />
</div>

<div class="row">
    <div class="col-12">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Requests.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Requests.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Requests.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Requests.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Requests.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Requests.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model=>model.Requests.DesiredDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model=>model.Requests.DesiredDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Requests.Message)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Requests.Message)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Requests.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Requests.Date)
            </dd>
        </dl>
    </div>
    <div class="col-12">
        <a class="btn btn-primary" asp-page="./Index">Назад</a> |
        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@Model.Requests.Id">Удалить</a>
    </div>
</div>

