@page
@model OOOFormula.Pages.Administration.ListRequests.IndexModel

@{
    ViewData["Title"] = "Заявки";
    var prevDisabled = !Model.Requests.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Requests.HasNextPage ? "disabled" : "";
}

<div class="row justify-content-center">
    <div class="col-8 text-center">
        <h1>Заявки</h1>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="col-12 alert alert-success text-center">
        @TempData["SuccessMessage"];
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-route-sortOrder="@ViewBag.NameSort">
                    @Html.DisplayNameFor(model => model.Requests[0].Name)
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@ViewBag.PhoneSort">
                    @Html.DisplayNameFor(model => model.Requests[0].Phone)
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@ViewBag.EmailSort">
                    @Html.DisplayNameFor(model => model.Requests[0].Email)
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@ViewBag.MessageSort">
                    @Html.DisplayNameFor(model => model.Requests[0].Message)
                </a>
            </th>
            <th>
                <a asp-route-sortOrder="@ViewBag.DateSort">
                    @Html.DisplayNameFor(model => model.Requests[0].Date)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr>
                @if (item.Status == false)
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.Name)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Email)
                    </th>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <div>
                        <a class="mr-2" asp-page="./Details" asp-route-id="@item.Id">
                            <i class="bi bi-binoculars-fill"></i>
                        </a>
                        <a class="text-danger" asp-page="./Delete" asp-route-id="@item.Id">
                            <i class="bi bi-x-circle-fill"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Requests.PageIndex-1)"
   class="btn btn-primary @prevDisabled">
    Назад
</a>
<a asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Requests.PageIndex+1)"
   class="btn btn-primary @nextDisabled">
    Вперед
</a>
