@page
@model OOOFormula.Pages.Administration.Catalog.DetailsModel

@{
    ViewData["Title"] = Model.Products.Name;
}

<h1>Просмотр записи</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Название</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Name)
        </dd>
        <dt class="col-sm-2">Стоимость</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Price)
        </dd>
        <dt class="col-sm-2">Описание</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Description)
        </dd>
        <dt class="col-sm-2">Фото</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.ImagesName)
        </dd>
        <dt class="col-sm-2">Статус</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.status)
        </dd>
        <dt class="col-sm-2">Категория</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Category.Name)
        </dd>
        <dt class="col-sm-2">Материал</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Materials.Name)
        </dd>
        <dt class="col-sm-2">Производитель</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Products.Manufacturers.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Index">Назад</a> | 
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Products.Id">Изменить</a>
</div>
