@page
@model OOOFormula.Pages.Administration.Catalog.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-primary" asp-page="Create">Добавить новую запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Стоимость</th>
            <th>Описание</th>
            <th>Описание</th>
            <th>Статус</th>
            <th>Категория</th>
            <th>Материал</th>
            <th>Производитель</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagesName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Materials.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturers.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Просмотр</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
