@page
@model OOOFormula.Pages.Administration.ListPages.DetailsModel

@{
    ViewData["Title"] = Model._Pages.Title;
}

<div class="col-12 mb-2">
    <h1>Просмотр записи</h1>
    <hr />
</div>

<div class="row">
    <div class="col-12">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model._Pages.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model._Pages.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model._Pages.Body)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model._Pages.Body)
            </dd>
        </dl>
    </div>
    <div class="col-12">
        <a class="btn btn-primary" asp-page="./Index">Назад</a> |
        <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model._Pages.Id">Изменить</a>
    </div>
</div>
