@page
@model OOOFormula.Pages.ContactsModel

@using Microsoft.Extensions.Options
@using OOOFormula.Options

@inject IOptions<AppOptions> AppOptions

@{
    ViewData["Title"] = Model._page.Title;
}

<div class="text-center mt-5">
    <h1>
        @Html.DisplayFor(model => model._page.Title)
    </h1>
</div>

<div class="row mt-2">
    @Html.Raw(Model._page.Body)

    <div class="col-md-8">
        <form method="post">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="col-12 alert alert-success text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    @TempData["SuccessMessage"]
                </div>
            }
            <p class="mb-0 text-center">
                <span style="font-size:14pt;">
                    <strong>Записаться на замерstrong>
</span>
            </p>
            <div class="row justify-content-around mt-2">
                <div class="form-group col-6">
                    <input asp-for="Requests.Name" class="form-control mr-2" type="text" placeholder="Имя*" />
                    <span asp-validation-for="Requests.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <input asp-for="Requests.Phone" class="form-control mr-2" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}" placeholder="Телефон* (без +7/8)" />
                    <span asp-validation-for="Requests.Phone" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <input asp-for="Requests.Email" class="form-control mr-2" type="email" placeholder="Email" />
                    <span asp-validation-for="Requests.Email"></span>
                </div>
                <div class="form-group col-6">
                    <div class="row">
                        <div class="col-3 text-center">
                            <label>Желаемая дата*</label>
                        </div>
                        <div class="col-9">
                            <input asp-for="Requests.DesiredDate" class="form-control mr-2" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            <span asp-validation-for="Requests.DesiredDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <textarea asp-for="Requests.Message" class="form-control mr-2" placeholder="Текст сообщения*" rows="5"></textarea>
                    <span asp-validation-for="Requests.Message" class="text-danger"></span>
                </div>
                <div class="form-group col-9">
                    <div class="g-recaptcha" data-sitekey="@AppOptions.Value.ReCaptcha.SiteKey"></div>
                    @Html.ValidationMessage("reCaptchaError", new { @class = "text-danger" })
                </div>
                <div class="form-group col-3 text-right">
                    <button type="submit" class="btn btn-primary text-light">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}




@*<div class="col-md-4">
        <p class="mb-0">
            <span style="font-size:14pt;">
                <strong>Наш адрес:</strong>
            </span>
        </p>
        <p>
            г. Аксай, улица Западная, 37А
        </p>

        <p class="mb-0">
            <span style="font-size:14pt;">
                <strong>Наши телефоны:</strong>
            </span>
        </p>
        <p>
            +7 (961) 269-65-88<br />
            +7 (958) 571-64-88
        </p>

        <p class="mb-0">
            <span style="font-size:14pt;">
                <strong>Наш E-mail:</strong>
            </span>
        </p>
        <p>
            example@example.com
        </p>

        <p class="mb-0">
            <span style="font-size:14pt;">
                <strong>Режим работы:</strong>
            </span>
        </p>
        <p>
            Пн - Выходной<br />
            Вт-Вс - c 9:00 до 17:00
        </p>
    </div>*@