@page
@model OOOFormula.Pages.Gallery_worksModel
@{
    ViewData["Title"] = "Наши работы";
    var prevDisabled = !Model.Gallery.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Gallery.HasNextPage ? "disabled" : "";
}

<div class="row justify-content-center">
    <div class="col-4 mt-5 text-center">
        <h1>Наши работы</h1>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <div class="text-center mt-5">
        <h4>@TempData["Message"]</h4>
    </div>
}

<div class="row mt-2">
    @foreach (var item in Model.Gallery)
    {
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card-deck">
                <div class="card m-3">
                    <div class="text-center">
                        <h6>@item.Name</h6>
                    </div>
                    <div class="text-center">
                        <a href="/images/Gallery/@item.ImagePath" data-fancybox="Gallery_Materials">
                            <img class="card-img-top" src="~/images/Gallery/@item.ImagePath" width="200" height="200" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>

    </script>

}

<!--Переход по страницам-->
<a asp-route-pageIndex="@(Model.Gallery.PageIndex-1)"
   class="btn btn-primary @prevDisabled">
    Назад
</a>
<a asp-route-pageIndex="@(Model.Gallery.PageIndex+1)"
   class="btn btn-primary @nextDisabled">
    Вперед
</a>