@page
@using OOOFormula.Models
@model OOOFormula.Pages.Catalog.CatalogModel
@{
    ViewData["Title"] = "Каталог товаров";
}

<div class="row mt-5">

    <!--Фильтры-->
    <div class="col-md-3">
        <div class="card-header">
            <h3>Фильтры</h3>
        </div>
        <div class="list-group mt-2">
            <form method="get">
                <div class="mb-3">
                    Цена
                    <div class="row">
                        <div class="col col-sm-6">
                            <input class="form-control" placeholder="От" name="PriceFrom" type="number" min="0" step="1" />
                        </div>
                        <div class="col col-sm-6">
                            <input class="form-control" placeholder="До" name="PriceTo" type="number" min="0" step="1" />
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="row">
                        <div class="col col-sm-7 pl-3 pr-0">
                            @if (Model.PriceState == SortState.PriceAsc)
                            {
                                <input type="radio" name="sortOrder" value="@SortState.PriceAsc" checked />
                            }
                            else
                            {
                                <input type="radio" name="sortOrder" value="@SortState.PriceAsc" />
                            }
                            <label>По возрастанию</label>
                        </div>
                        <div class="col col-sm-7 pl-3 pr-0">
                            @if (Model.PriceState == SortState.PriceDesc)
                            {
                                <input type="radio" name="sortOrder" value="@SortState.PriceDesc" checked />
                            }
                            else
                            {
                                <input type="radio" name="sortOrder" value="@SortState.PriceDesc" />
                            }
                            <label>По убыванию</label>
                        </div>
                        <input hidden asp-for="PriceState" value="@Model.PriceState" />
                    </div>
                </div>
                <div class="mb-2">
                    Материал
                    <div class="row">
                        <div class="col col-sm-12">
                            <div class="form-check mt-1 p-0">
                                <select id="mater" class="form-control" asp-items="ViewBag.MaterialsId" name="MaterialId_select">
                                    <!--Добавляем начальный элемент выпадающего списка-->
                                    <option value="">Выберите материал</option>
                                </select>
                                <input hidden asp-for="MaterialIdState" value="@Model.MaterialIdState" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="form-check pl-0">
                        <button type="submit" class="btn btn-primary">Применить</button>
                        <a class="btn btn-primary text-light" asp-page="/Catalog/Catalog">Сбросить</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!--Карточки-->
    <div class="col-md-9">
        <div class="row">
            @if (TempData["Message"] != null)
            {
                <div class="col-12 text-center">
                    <h1>
                        @TempData["Message"]
                    </h1>
                </div>
            }
            @foreach (var item in Model.Products)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card-deck">
                        <div class="card m-3">
                            <div class="text-center">
                                <a asp-page="/Catalog/Details" asp-route-id="@item.Id">
                                    <img class="card-img-bottom" src="~/images/Products/@item.ImagesName" asp-append-version="true" />
                                </a>
                            </div>
                            <div class="text-left mt-3">
                                <a class="nav-link text-dark pb-0" asp-page="/Catalog/Details" asp-route-id="@item.Id">
                                    <h6>@item.Name</h6>
                                </a>
                            </div>
                            <div class="text-left mt-3 ml-3">
                                <h5>@item.Price ₽</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#mater").val("@Model.MaterialIdState").change()
    </script>
}


<!--Переход по страницам-->
@*<div class="row justify-content-center">
        @for (int i = 1; i <= 3; i++)
        {
            <div class="col-1 text-center">
                <a class="nav-link nav-link-hover btn" asp-area="" asp-page="">@i</a>
            </div>
        }
    </div>*@
