@page
@model OOOFormula.Pages.Catalog.CatalogModel
@{
    ViewData["Title"] = "Каталог товаров";
}

<div class="row mt-5">

    <!--Фильтры-->
    <div class="col-md-3">
        <div class="card-header">
            <h3>Фильтры</h3>
        </div>
        <form method="get">
            <div class="list-group mt-2">
                @*<form method="get">*@
                <div class="mb-2">
                    Цена
                    <div class="row">
                        <div class="col col-sm-6">
                            <input class="form-control" placeholder="От" />
                        </div>
                        <div class="col col-sm-6">
                            <input class="form-control" placeholder="До" />
                        </div>
                    </div>
                </div>
                <div class="mb-2">
                    Материал
                    <div class="row">
                        <div class="col col-sm-6">
                            <!--генерация циклом-->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">1111111111111111111</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="form-check pl-0">
                        <input class="btn btn-primary" type="submit" value="Применить" />
                    </div>
                </div>
                @*</form>*@
            </div>
        </form>
    </div>


    <!--Карточки-->
    <div class="col-md-9">
        <div class="row">
            <!--в цикле-->
            @foreach (var item in Model.Products)
            {
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="card-deck">
                        <div class="card m-3">
                            <div class="text-center">
                                <a asp-page="/Catalog/Details" asp-route-id="@item.Id">
                                    <img class="card-img-bottom" src="~/images/Products/@item.ImagesName" asp-append-version="true" />
                                </a>
                            </div>
                            <div class="text-left mt-3">
                                <a class="nav-link text-dark pb-0" asp-page="/Catalog/Details" asp-route-id="@item.Id">
                                    <h6>@item.Name</h6>
                                </a>
                            </div>
                            <div class="text-left mt-3 ml-3">
                                <h5>@item.Price ₽</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!--Переход по страницам-->
@*<div class="row justify-content-center">
    @for (int i = 1; i <= 3; i++)
    {
        <div class="col-1 text-center">
            <a class="nav-link nav-link-hover btn" asp-area="" asp-page="">@i</a>
        </div>
    }
</div>*@
