@page "{id}"
@model OOOFormula.Pages.Catalog.DetailsModel
@{
    ViewData["Title"] = Model.Products.Name;
    string ImagePath = "/images/Products/" + Model.Products.ImagesName;
}

<div class="row mt-5">
    <div class="col-md-5 offset-sm-1 offset-sm-0">
        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="@ImagePath" data-fancybox="Gallery_Product">
                        <img class="card-img-bottom" src="@ImagePath" asp-append-version="true" alt="1 слайд" loading="lazy" width="445" height="296" />
                    </a>
                </div>
                @for (int i = 2; i <= 3; i++)
                {
                    string Path = Convert.ToString(i) + ".jpg";

                    <div class="carousel-item">
                        <a href="/images/Examples/@Path" data-fancybox="Gallery_Product">
                            <img class="card-img-bottom" src="/images/Examples/@Path" asp-append-version="true" loading="lazy" alt="@i слайд" width="445" height="296" />
                        </a>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-12 m-2">
                <h2>
                    <strong>@Model.Products.Name</strong>
                </h2>
            </div>
            <div class="col-6 ml-2">
                <h4>@Model.Products.Price ₽</h4>
            </div>
            <div class="col-12 ml-2 mt-3">
                <h6>
                    <strong>Описание</strong>
                </h6>
                <p>@Model.Products.Description</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-8 offset-sm-1 offset-sm-0">
        <div class="col-6 pl-2">
            <h3>
                <strong>
                    Характеристики
                </strong>
            </h3>
        </div>
        <div class="col-12 pl-2">
            <dl class="row">
                <dt class="col-sm-2">Материал</dt>
                <dd class="col-sm-10">
                    @Model.Products.Materials.Name
                </dd>
            </dl>
        </div>
    </div>
</div>