@page "{id}"
@model OOOFormula.Pages.Catalog.DetailsModel
@{
    ViewData["Title"] = Model.Products.Name;
    string ImagePathMain = "/images/Products/" + Model.Products.Profile.ImagesName;
}

<div class="row mt-5">
    <div class="col-md-5 offset-sm-1 offset-sm-0">
        <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                @for (int i = 1; i <= Model.Products.Images.Count(); i++)
                {
                    <li data-target="#carousel" data-slide-to="@i"></li>
                }
            </ol>
            <div class="carousel-inner">
                @*Главное фото*@
                <div class="carousel-item active">
                    <a href="@ImagePathMain" data-fancybox="Gallery_Product">
                        <img class="card-img-bottom" src="@ImagePathMain" asp-append-version="true" alt="1 слайд" loading="lazy" width="445" height="296" />
                    </a>
                </div>
                @*Галерея*@
                @foreach (var item in Model.Products.Images)
                {
                    string Path = "/images/Products/Gallery/" + item.ImageName;

                    <div class="carousel-item">
                        <a href="@Path" data-fancybox="Gallery_Product">
                            <img class="card-img-bottom" src="@Path" asp-append-version="true" alt="@item.ImageName" loading="lazy" width="445" height="296" />
                        </a>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-12 m-2">
                <h2>
                    <strong>@Model.Products.Name</strong>
                </h2>
            </div>
            <div class="col-6 ml-2">
                <h4>
                    <strong>@Model.Products.Price ₽</strong>
                </h4>
            </div>
            <div class="col-12 ml-2 mt-3">
                <h5>
                    <strong>Описание</strong>
                </h5>
                <p>@Model.Products.Profile.Description</p>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 pl-1">
    <div class="col-md-8 offset-sm-1 offset-sm-0">
        <div class="col-6 pl-0">
            <h3>
                <strong>
                    Характеристики
                </strong>
            </h3>
        </div>
    </div>
    <div class="col-12 pl-2 offset-sm-1 offset-sm-0">
        <dl class="row ml-2">
            <dt class="col-sm-2 pl-0">
                <label asp-for="Products.Name" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Products.Name)
            </dd>
            <dt class="col-sm-2 pl-0">
                <label asp-for="Products.Profile.FacadeMaterialsId" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Products.Profile.FacadeMaterials.Name)
            </dd>
            <dt class="col-sm-2 pl-0">
                <label asp-for="Products.Profile.FurnitureManufacturersId" class="control-label"></label>
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Products.Profile.FurnitureManufacturers.Name)
            </dd>
        </dl>
    </div>
</div>