@page "{id}"
@model OOOFormula.Pages.Administration.ListGallery.DetailsModel

@{
    ViewData["Title"] = Model.Gallery.Name;
    string PhotoPath = "~/images/Gallery/" + Model.Gallery.ImagePath;
}

<div class="col-12 mb-2">
    <h1>Просмотр записи</h1>
    <hr />
</div>

<div class="col-12">
    <dl class="row">
        <dt class="col-sm-2">Название</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallery.Name)
        </dd>
        <dt class="col-sm-2">Описание</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallery.Description)
        </dd>
        <dt class="col-sm-2">Фото</dt>
        <dd class="col-sm-10">
            <img src="@PhotoPath" asp-append-version="true" width="200" height="150" />
            <div class="col-lg-6 mt-2 p-0">
                @Html.DisplayFor(model => model.Gallery.ImagePath)
            </div>
        </dd>
        <dt class="col-sm-2">Дата добавления</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gallery.DateAdd)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Index">Назад</a> |
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Gallery.Id">Изменить</a>
</div>
