@page
@model OOOFormula.Pages.Administration.ListGallery.IndexModel

@{
    ViewData["Title"] = "Галерея";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="col-12 alert alert-success text-center">
        @TempData["SuccessMessage"];
    </div>
}

<div class="col-12">
    <p>
        <a class="btn btn-primary" asp-page="Create">Добавить новую запись</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page-handler="Sorting" asp-route-sortOrder="@ViewBag.NameSort">Название</a>
            </th>
            <th>
                <a asp-page-handler="Sorting" asp-route-sortOrder="@ViewBag.DescripSort">Описание</a>
            </th>
            <th>
                <a asp-page-handler="Sorting" asp-route-sortOrder="@ViewBag.ImageSort">Фото</a>
            </th>
            <th>
                <a asp-page-handler="Sorting" asp-route-sortOrder="@ViewBag.ImageSort">Фото</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Gallery)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdd)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Просмотр</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a class="text-danger" asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
