@page "{id}"
@model OOOFormula.Pages.Administration.Catalog.ListProducts.DetailsModel

@{
    ViewData["Title"] = Model.Products.Name;
    string PhotoPath = $"/images/Products/{Model.Products.ImagesName ?? "noimage.png"}";
}

<div class="col-12 mb-2">
    <h1>Просмотр записи</h1>
    <hr />
</div>

<div class="row">
    <div class="col-12">
        <dl class="row">
            <dt class="col-sm-2">Название</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Products.Name)
            </dd>
            <dt class="col-sm-2">Стоимость</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Products.Price)
            </dd>
            <dt class="col-sm-2">Описание</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Products.Description)
            </dd>
            <dt class="col-sm-2">Фото</dt>
            <dd class="col-sm-10">
                <a href="@PhotoPath" data-fancybox>
                    <img src="@PhotoPath" asp-append-version="true" width="200" height="150" />
                </a>
                <div class="col-lg-6 mt-2 p-0">
                    @Html.DisplayFor(model => model.Products.ImagesName)
                </div>
            </dd>
            <dt class="col-sm-2">Отображать</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Products.status)
            </dd>
            <dt class="col-sm-2">Категория</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Products.Category.Name)
            </dd>
            <dt class="col-sm-2">Материал</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Products.Materials.Name)
            </dd>
            <dt class="col-sm-2">Производитель</dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Products.Manufacturers.Name)
            </dd>
        </dl>
    </div>
    <div class="col-12">
        <a class="btn btn-primary" asp-page="./Index">Назад</a> |
        <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Products.Id">Изменить</a>
    </div>
</div>
